.confirmationDetails {
  flex: 0.5;
  padding: 1%;
  background: #ececec;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  justify-content: space-between;
}

.scheduleTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  width: 100%;
}

.titleLabel {
  color: green;
  font-size: "xx-large";
  text-align: center;
  margin: 1%;
}

.dateTimeDetails {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.timeline {
  flex: 0.5;
  background: #ececec;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1%;
}

.labelsValue {
  flex: 1;
  width: 50%;
  background: #ececec;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1%;
  align-items: center;
}

.ant-statistic-title {
  color: rgba(0, 0, 0, 0.45);
  font-size: 14px;
  width: 100%;
}

.ant-card-body {
  padding: 14px;
}
